.group .button-bold-text::before,
.group .button-bold-text::after {
  content: '';
  display: inline-block;
  width: var(--text-increase-size);
  transition: width 0.2s ease;
  transition: font-weight 0.2s ease;
}

.group:hover .button-bold-text::before,
.group:hover .button-bold-text::after,
.group:focus .button-bold-text::before,
.group:focus .button-bold-text::after {
  width: 0;            
}