.vscodeignore
.gitignore
*.vsix
node_modules/
out/src/ # We only need out/extension.js and out/extension.js.map
src/
*.tsbuildinfo
tsconfig.json
PLAN.md
README.md
# Add other files/folders to ignore during packaging if needed
