.container {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}

.innerContainer {
  padding: 50px;
  width: 100%;
  max-width: 1300px;
  padding-top: 30px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }
}
