# NodeJS
frontend/node_modules

# Configuration (except pyproject.toml)
*.ini
*.toml
!pyproject.toml
*.yml

# Documentation (except README.md)
*.md
!README.md

# Hidden files and directories
.*
__pycache__

# Unneded files and directories
/dev_config/
/docs/
/evaluation/
/tests/
CITATION.cff
