# These ports will be used on HOST machine
# Must not be used by other host machine services
LITELLM_PORT=11111
JUPYTER_PORT=15555
# UI HTTP server ports
UI_HTTP_PORT=8080
UI_HTTPS_PORT=8443
# Devin app websockets port
# OpenDevin API host, port
DEVIN_HOST=172.28.0.222
DEVIN_API_PORT=3000
# OpenDevin websockets port
DEVIN_WS_PORT=3001
#
# Default Ollama model
LITELLM_DEFAULT_MODEL=mistral:70b
# Default models
EMBEDDING_MODEL=llama2
#
# Redis ports at the HOST side
REDIS_SERVER_PORT=16379
REDIS_INSIGHT_PORT=13333
#
# Posgres variables
POSTGRES_USER=litellm
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=litellm_memory
POSTGRES_HOST_PORT=15432
POSTGRES_CONTAINER_PORT=5432
#
# Directories
APP_DIR=/opt/opendevin/app
# Path to ollama models directory at the host machine
HOST_MODELS_DIR=/mnt/g/LLMs/ollama/models
WORKSPACE_DIR=/opt/opendevin/workspace
PYTHONPATH=/opt/opendevin/app
# Name of the container's Conda vitual environment
VENV_NAME=od_env
#
# Toggle debug mode: empty value or 'yes'
DEBUG=yes
#
# NodeJS environment mode. 'development' or 'production'
# Node's default is development if omitted
NODE_ENV=development
# Specify timezone if necessary
TIMEZONE=Etc/UTC
#
# NVidia CUDA driver version.
# Will download new image if changed
CUDA_VERSION=12.4.0
# NodeJS version
NODE_VERSION=18.20.1
NPM_VERSION=10.5.2
#
# mitmproxy version tag
MITMPROXY_VERSION=10.2.4
# mitmproxy directory INSIDE THE CONTAINER
MITMPROXY_DIR=/home/mitmproxy/.mitmproxy
