# Environment variables for Thesis

# PostgreSQL Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# JWT Secret
USER_USE_CASE_SAMPLE=0x9b60c97c53e3e8c55c7d32f55c1b518b6ea417f7

# JWT Secret
JWT_SECRET=your-secret-key
# Thesis Auth Server URL
THESIS_AUTH_SERVER_URL=

# Run Mode (DEV, PROD)
RUN_MODE=DEV


S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=

MCP_CONNECTION_DEFAULT_TIMEOUT=300
