-i https://pypi.org/simple
aiohttp==3.9.3; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
annotated-types==0.6.0; python_version >= '3.8'
anyio==4.3.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
async-timeout==4.0.3; python_version < '3.11'
attrs==23.2.0; python_version >= '3.7'
azure-core==1.30.1; python_version >= '3.7'
azure-identity==1.15.0; python_version >= '3.7'
backoff==2.2.1; python_version >= '3.7' and python_version < '4.0'
bcrypt==4.1.2; python_version >= '3.7'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
build==1.2.1; python_version >= '3.8'
cachetools==5.3.3; python_version >= '3.7'
certifi==2024.2.2; python_version >= '3.6'
cffi==1.16.0; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
chroma-hnswlib==0.7.3
chromadb==0.4.24; python_version >= '3.8'
click==8.1.7; python_version >= '3.7'
coloredlogs==15.0.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
contourpy==1.2.0; python_version >= '3.9'
cryptography==42.0.5; python_version >= '3.7'
cycler==0.12.1; python_version >= '3.8'
dataclasses-json==0.6.4; python_version >= '3.7' and python_version < '4.0'
datasets==2.18.0; python_full_version >= '3.8.0'
deprecated==1.2.14; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
dill==0.3.8; python_version >= '3.8'
dirtyjson==1.0.8
distro==1.9.0; python_version >= '3.6'
docker==7.0.0; python_version >= '3.8'
exceptiongroup==1.2.0; python_version < '3.11'
fastapi==0.110.0; python_version >= '3.8'
filelock==3.13.3; python_version >= '3.8'
flatbuffers==24.3.25
fonttools==4.50.0; python_version >= '3.8'
frozenlist==1.4.1; python_version >= '3.8'
fsspec[http]==2024.2.0; python_version >= '3.8'
google-ai-generativelanguage==0.4.0; python_version >= '3.7'
google-api-core[grpc]==2.18.0; python_version >= '3.7'
google-auth==2.29.0; python_version >= '3.7'
google-generativeai==0.4.1; python_version >= '3.9'
googleapis-common-protos==1.63.0; python_version >= '3.7'
greenlet==3.0.3; platform_machine == 'aarch64' or (platform_machine == 'ppc64le' or (platform_machine == 'x86_64' or (platform_machine == 'amd64' or (platform_machine == 'AMD64' or (platform_machine == 'win32' or platform_machine == 'WIN32')))))
grpcio==1.62.1; python_version >= '3.7'
grpcio-status==1.62.1
h11==0.14.0; python_version >= '3.7'
httpcore==1.0.5; python_version >= '3.8'
httptools==0.6.1
httpx==0.27.0; python_version >= '3.8'
huggingface-hub[inference]==0.22.2; python_full_version >= '3.8.0'
humanfriendly==10.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
idna==3.6; python_version >= '3.5'
importlib-metadata==7.0.0; python_version >= '3.8'
importlib-resources==6.4.0; python_version >= '3.8'
jinja2==3.1.3; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
json-repair==0.10.1; python_version >= '3.7'
kiwisolver==1.4.5; python_version >= '3.7'
kubernetes==29.0.0; python_version >= '3.6'
litellm==1.34.18; python_version not in '2.7, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7' and python_version >= '3.8'
llama-index==0.10.26; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-agent-openai==0.2.1; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-cli==0.1.11; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-core==0.10.26; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-embeddings-azure-openai==0.1.6; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-embeddings-huggingface==0.2.0; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-embeddings-ollama==0.1.2; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-embeddings-openai==0.1.7; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-indices-managed-llama-cloud==0.1.5; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-legacy==0.9.48; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-llms-azure-openai==0.1.5; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-llms-openai==0.1.14; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-multi-modal-llms-openai==0.1.4; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-program-openai==0.1.5; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-question-gen-openai==0.1.3; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-readers-file==0.1.13; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-readers-llama-parse==0.1.4; python_version < '4.0' and python_full_version >= '3.8.1'
llama-index-vector-stores-chroma==0.1.6; python_version < '4.0' and python_full_version >= '3.8.1'
llama-parse==0.4.0; python_version < '4.0' and python_full_version >= '3.8.1'
llamaindex-py-client==0.1.15; python_version >= '3.8' and python_version < '4.0'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
marshmallow==3.21.1; python_version >= '3.8'
matplotlib==3.8.3; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
minijinja==1.0.16
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
msal==1.28.0; python_version >= '3.7'
msal-extensions==1.1.0; python_version >= '3.7'
multidict==6.0.5; python_version >= '3.7'
multiprocess==0.70.16; python_version >= '3.8'
mypy==1.9.0; python_version >= '3.8'
mypy-extensions==1.0.0; python_version >= '3.5'
nest-asyncio==1.6.0; python_version >= '3.5'
networkx==3.2.1; python_version >= '3.9'
nltk==3.8.1; python_version >= '3.7'
numpy==1.26.4; python_version < '3.11'
oauthlib==3.2.2; python_version >= '3.6'
onnxruntime==1.17.1
openai==1.14.3; python_full_version >= '3.7.1'
opentelemetry-api==1.24.0; python_version >= '3.8'
opentelemetry-exporter-otlp-proto-common==1.24.0; python_version >= '3.8'
opentelemetry-exporter-otlp-proto-grpc==1.24.0; python_version >= '3.8'
opentelemetry-instrumentation==0.45b0; python_version >= '3.8'
opentelemetry-instrumentation-asgi==0.45b0; python_version >= '3.8'
opentelemetry-instrumentation-fastapi==0.45b0; python_version >= '3.8'
opentelemetry-proto==1.24.0; python_version >= '3.8'
opentelemetry-sdk==1.24.0; python_version >= '3.8'
opentelemetry-semantic-conventions==0.45b0; python_version >= '3.8'
opentelemetry-util-http==0.45b0; python_version >= '3.8'
orjson==3.10.0; python_version >= '3.8'
overrides==7.7.0; python_version >= '3.6'
packaging==24.0; python_version >= '3.7'
pandas==2.2.1; python_version >= '3.9'
pillow==10.3.0; python_version >= '3.8'
portalocker==2.8.2; platform_system != 'Windows'
posthog==3.5.0
proto-plus==1.23.0; python_version >= '3.6'
protobuf==4.25.3; python_version >= '3.8'
pulsar-client==3.4.0
pyarrow==15.0.2; python_version >= '3.8'
pyarrow-hotfix==0.6; python_version >= '3.5'
pyasn1==0.6.0; python_version >= '3.8'
pyasn1-modules==0.4.0; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pydantic==2.6.4; python_version >= '3.8'
pydantic-core==2.16.3; python_version >= '3.8'
pygments==2.17.2; python_version >= '3.7'
pyjwt[crypto]==2.8.0; python_version >= '3.7'
pymupdf==1.24.0; python_version >= '3.8'
pymupdfb==1.24.0; python_version >= '3.8'
pyparsing==3.1.2; python_full_version >= '3.6.8'
pypdf==4.1.0; python_version >= '3.6'
pypika==0.48.9
pyproject-hooks==1.0.0; python_version >= '3.7'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-dotenv==1.0.1; python_version >= '3.8'
pytz==2024.1
pyyaml==6.0.1; python_version >= '3.6'
regex==2023.12.25; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-oauthlib==2.0.0; python_version >= '3.4'
rich==13.7.1
rsa==4.9; python_version >= '3.6' and python_version < '4'
ruff==0.3.4; python_version >= '3.7'
safetensors==0.4.2; python_version >= '3.7'
scikit-learn==1.4.1.post1; python_version >= '3.9'
scipy==1.12.0; python_version >= '3.9'
seaborn==0.13.2; python_version >= '3.8'
sentence-transformers==2.6.1; python_full_version >= '3.8.0'
setuptools==69.2.0; python_version >= '3.8'
shellingham==1.5.4
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
sniffio==1.3.1; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy[asyncio]==2.0.29; python_version >= '3.7'
starlette==0.36.3; python_version >= '3.8'
striprtf==0.0.26
sympy==1.12; python_version >= '3.8'
tenacity==8.2.3; python_version >= '3.7'
termcolor==2.4.0; python_version >= '3.8'
threadpoolctl==3.4.0; python_version >= '3.8'
tiktoken==0.6.0; python_version >= '3.8'
tokenizers==0.15.2; python_version >= '3.7'
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
tomli==2.0.1; python_version < '3.11'
torch==2.2.2; python_full_version >= '3.8.0'
tqdm==4.66.2; python_version >= '3.7'
transformers==4.39.2; python_full_version >= '3.8.0'
typer==0.12.0; python_version >= '3.7'
typer-cli==0.12.0; python_version >= '3.7'
typer-slim[standard]==0.12.0; python_version >= '3.7'
typing-extensions==4.10.0; python_version >= '3.8'
typing-inspect==0.9.0
tzdata==2024.1; python_version >= '2'
urllib3==2.2.1; python_version >= '3.8'
uvicorn[standard]==0.29.0; python_version >= '3.8'
uvloop==0.19.0
watchfiles==0.21.0
websocket-client==1.7.0; python_version >= '3.8'
websockets==12.0
wrapt==1.16.0; python_version >= '3.6'
xxhash==3.4.1; python_version >= '3.7'
yarl==1.9.4; python_version >= '3.7'
zipp==3.18.1; python_version >= '3.8'
