Please fix this issue in `/workspace`.

<ISSUE_INFORMATION>
{{ body }}
</ISSUE_INFORMATION>

You do NOT need to write new tests for code changes.

{% if repo_instruction %}
Some basic information about this repository:
{{ repo_instruction }}{% endif %}
