{% extends "suggested_task_base.j2" %}

{% block task_goal %}You need to fix the failing CI checks.{% endblock %}

{% block task_specific_instructions %}
Then use the {{ apiName }} to look at the {{ ciSystem }} that are failing on the most recent commit. Try and reproduce the failure locally.
Get things working locally, then push your changes. Sleep for 30 seconds at a time until the {{ ciProvider }} {{ ciSystem.lower() }} have run again.
If they are still failing, repeat the process.
{% endblock %}
