.url {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 2rem;
  color: #252526;
}
.browser {
  height: 90%;
  width: 100%;
  border-radius: 2rem;
  padding: 1rem;
}
.url {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  width: 80%;
  background-color: white;
  border-radius: 2rem;
  color: #252526;
}

.mac-url-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  height: 40px;
  padding: 0 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.mac-url-bar .left-icons {
  display: flex;
}

.mac-url-bar .icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.mac-url-bar .icon-red {
  background-color: #fc6255;
}

.mac-url-bar .icon-yellow {
  background-color: #ffbe3d;
}

.mac-url-bar .icon-green {
  background-color: #25d366;
}

.mac-url-bar .url-input {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 0 2px;
  flex-grow: 1;
  margin: 0 10px;
}

.mac-url-bar .url-input input {
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  padding: 5px;
}

.screenshot {
  width: 100%;
  height: 96%;
  max-height: calc(90vh - 100px); /* 100px is the height of the header */
  object-fit: cover;
}
