.chat-interface {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px;
  background-color: #252526;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  background-color: #333333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: auto;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #3c3c3c;
  color: #fff;
}

.input-container button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-text {
  font-size: 16px;
}

/* CSS For Attach Icon */

.attach-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 10px; /* Add margin to create space between the button and input */
}

.attach-button svg {
  width: 22x;
  height: 22px;
  fill: #000;
}

.attach-button:focus {
  outline: none;
}

.attach-button:hover svg {
  fill: #666;
}

.input-container {
  display: flex; /* Ensure the elements inside input-container are aligned horizontally */
  align-items: center; /* Center the items vertically */
}

.input-container input {
  flex: 1; /* Allow the input to take up remaining space */
  margin-right: 10px; /* Add margin to create space between the input and the send button */
}

.input-container button:last-child {
  margin-right: 0; /* Remove margin from the last button (send button) */
}
