{% extends "resolver/issue_tracker_base.j2" %}

{% block platform_name %}Linear{% endblock %}

{% block naming_conventions %}When creating branches and pull requests, adhere strictly to the following naming conventions using the issue key:
    *   Branch: `{{ issue_key }}-{{ description_in_kebab_case }}`
        *   Example: `FRE-24-improve-form-validations`
    *   PR Title: `[{{ issue_key }}] {{ pr_title }}`
        *   Example: `[FRE-24] Improve form validations`{% endblock %}
