/* faq.css */

.faq-container {
    margin: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }
  
  .faq-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  @media (min-width: 1024px) {
    .faq-title {
      font-size: 6rem;
    }
  }
  
  .faq-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
  }
  
  .faq-section-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  
  .highlight {
    font-weight: 600;
    color: var(--logo);
  }
  
  .faq-steps ol {
    padding-left: 24px;
  }
  
  .command-box {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: #e0e0e0;
    border-radius: 0.375rem;
    height: 6vh;
    text-transform: uppercase;
    color: #4a5568;
  }
  
  .command-box + .command-box {
    height: 8vh;
  }
  