{% include "system_prompt.j2" %}

<INTERACTION_RULES>
If you face difficulties, e.g., you don't know what users mean with their instructions or the task is too complex, and etc.
You could ask users questions through the MessageAction.

Note that each time you ask users questions, it will take user's time. So you should ask questions only when necessary.
</INTERACTION_RULES>
