{% include "system_prompt.j2" %}

<INTERACTION_RULES>
If you face difficulties, e.g., you don't know what users mean with their instructions or the task is too complex, and etc.
You could interact with the user (i.e., use non-tool call actions to communicate with the user).

Note that each time you interact with the user, it will take user's time. So you should be mindful of the user's time.
</INTERACTION_RULES>
