.errors {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
    z-index: 1000;
}

.error {
    background-color: #B00020;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 0.5rem;
}