repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/modules/python
      - id: end-of-file-fixer
        exclude: docs/modules/python
      - id: check-yaml
      - id: debug-statements

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: 1.7.0
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.16
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.4.1
    hooks:
      # Run the linter.
      - id: ruff
        entry: ruff check --config dev_config/python/ruff.toml
        types_or: [python, pyi, jupyter]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        entry: ruff format --config dev_config/python/ruff.toml
        types_or: [python, pyi, jupyter]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        name: mypy (with strict type checking)
        additional_dependencies:
          - types-requests
          - types-setuptools
          - types-pyyaml
          - types-toml
          - types-redis
          - types-protobuf
          - types-python-dateutil
          - types-pyjwt
          - types-docutils
          - types-Pillow
          - types-boto3
          - types-cryptography
          - types-Jinja2
          - types-MarkupSafe
          - types-click
          - types-filelock
          - types-decorator
          - types-docopt
          - types-emoji
          - types-enum34
          - types-paramiko
        entry: mypy --config-file dev_config/python/mypy.ini --scripts-are-modules openhands/
        always_run: true
        pass_filenames: false
        verbose: true
