@layer utilities {
  @keyframes spinner-rotate {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  @keyframes arc-length-change {
    0% {
      stroke-dashoffset: 85%;
    }
    25% {
      stroke-dashoffset: 25%;
    }
    50% {
      stroke-dashoffset: 10%;
    }
    75% {
      stroke-dashoffset: 25%;
    }
    100% {
      stroke-dashoffset: 85%;
    }
  }

  .animate-indeterminate-spinner {
    animation: spinner-rotate 2s linear infinite;
  }

  .animate-spinner-rotate {
    animation: spinner-rotate 1.8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }

  .animate-arc-length {
    animation: arc-length-change 1.8s cubic-bezier(0.65, 0, 0.35, 1) infinite;
  }

  .animate-determinate-spinner {
    transition: stroke-dashoffset 0.3s ease;
  }
}