@layer utilities {
  @keyframes spinner-animate {
    0% {
      transform: rotate(-90deg);
    }
    100% {
      transform: rotate(270deg);
    }
  }

  .animate-indeterminate-spinner {
    animation: spinner-animate 2s linear infinite;
  }

  .animate-determinate-spinner {
    transition: stroke-dashoffset 0.3s ease;
  }
}