/* App.css */
.app {
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
  color: #fff;
}

.padded-app {
  padding: 2px;
}

.left-pane {
  flex: 1;
  background-color: #252526;
  margin: 1rem;
  overflow: hidden;
  border-radius: 1rem;
}

.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #ffffff24;
  overflow: hidden;
}

.workspace-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.workspace-heading {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bolder;
}

.tab-container {
  display: flex;
  background-color: #333333;
}
.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffffb3;
  font-weight: light;
  position: relative;
}

.tab.active {
  color: #fff;
  font-weight: bolder;
}

.tab-content {
  flex: 1;
  height: 95%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.xterm-screen {
  padding: 10px 0 0 10px;
}
