/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
  padding: 10px 20px;
  cursor: pointer;
  color: #ffffffb3;
  font-weight: light;
  position: relative;
}

.tab.active {
  color: #fff;
  font-weight: bolder;
}

.tab-content {
  flex: 1;
  height: 95%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.xterm-screen {
  padding: 10px 0 0 10px;
}

@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}
