:root {
  --bg-dark: #0c0e10;
  --bg-light: #292929;
  --bg-input: #393939;
  --bg-workspace: #1f2228;
  --border: #3c3c4a;
  background-color: var(--bg-dark) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
