@import "tailwindcss";

@plugin '../hero.ts';
@config "../tailwind.config.js";
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../node_modules/@openhands/ui/dist/**/*.{js,ts,jsx,tsx}';
@import "../node_modules/@openhands/ui/dist/tokens.css";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredstrategy: "pseudoelements";
}

/* OLD TAILWIND STYLES */
@theme {
  --color-primary: #c9b974;
  --color-logo: #cfb755;
  --color-base: #0d0f11;
  --color-base-secondary: #24272e;
  --color-danger: #e76a5e;
  --color-success: #a5e75e;
  --color-basic: #9099ac;
  --color-tertiary: #454545;
  --color-tertiary-light: #b7bdc2;
  --color-content: #ecedee;
  --color-content-2: #f9fbfe;
}

.button-base {
  @apply bg-tertiary border border-neutral-600 rounded-xs;
}

.skeleton {
  @apply bg-gray-400 rounded-md animate-pulse;
}

.skeleton-round {
  @apply bg-gray-400 rounded-full animate-pulse;
}

.heading {
  @apply text-[28px] leading-8 -tracking-[0.02em] font-bold text-content-2;
}
