.pontem_wallet {
  position: absolute;
  right: 30px;
  top: 60px;
  background-color: var(--color-primary);
  opacity: 80%;
  padding: calc(var(--spacing) * 2);

  color: #0D0F11;
  --tw-font-weight: var(--font-weight-semibold);
  font-weight: var(--font-weight-semibold);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
  background-color: var(--color-primary);

  border-radius: var(--radius-sm);

  cursor: pointer;
  z-index: 99;

  display: flex;
}

.pontem_wallet.connect {
  opacity: 80%;
}

.pontem_wallet.disconnect {
  opacity: 60%;
}

.pontem_wallet:hover {
  opacity: 100;
}

.pontem_wallet svg {
  height: 20px;
  width: auto;
  margin-right: 5px;

}
