name: Run Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install pipenv
          python -m pipenv install
      - name: Run Tests
        run: |
          python -m pipenv shell
          python -m pytest ./tests
